*.keystore
*.log
UserSettings/
Library/
Assets/GoogleMobileAds/
Assets/GooglePlayGames/
Assets/Plugins/
obj/
Temp/
Assets/ExternalDependencyManager/
Logs/
unicornmemory_BackUpThisFolder_ButDontShipItWithYourGame/
